@charset "UTF-8";

body{ 
    background-color: rgb(121, 240, 121);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(3, 51, 3);
}
h2{
    color: rgb(68, 90, 68);
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 8px;
}